@import '../../../assets/styles/generics.scss';
.c-nav{
    padding-top: 25px;
    padding-bottom: 25px;
    background: transparent;
    box-shadow: none;

    .logo-img{
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }

    .menu-items{
        li {
            margin-right: 1.5rem;

            @media(max-width: 992px){
                width: 100%;
                text-align: center;
                margin-right: 0;
                font-size: 1rem;
                padding: 10px;
            }

            a{
                position: relative;
                color: $black;

                &:hover{
                    background-color: transparent;
                    color: $purple;

                    &:after{
                        content: "●";
                        position: absolute;
                        bottom: -15px;
                        right: 40%;
                        color: $purple;
                    }

                    &:active{
                        content: "●";
                        position: absolute;
                        bottom: -15px;
                        right: 40%;
                        color: $purple;
                    }
                }
            }
        }
    }

    .navbar-collapse{
        @media(max-width: 992px){
            padding-bottom: 15px;
            box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
            border-radius: 0.25rem;
            width: calc(100% - 30px) !important;
            margin-right: 0;
            margin-left: 0;
            top: -10px;
            position: relative;
            padding-top: 15px;
        }
    }

    .navbar-toggler{
        width: 40px;
        padding: 9px;
    }
}