<header class="m-120 top"> 
    <div class="container c-header">
        <div class="header-title">
            <h1 class="semibold-46">We Create Simple Solution </h1>
            <h1 class="regular-46">For Your Complex Task</h1>
            <p class="regular-14 m-10 top">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque no. Verear habemus sea ut</p>
        </div>
        <div>
            <button class="btn-call-to-action m-30 right">Our Works</button>
            <button class="button-outline">Know More</button>
        </div>
        <div>
            <img src="../../../assets/img/bg-header.png" alt="">
        </div>
    </div>
</header>

<section class="container d-flex align-items-center m-120 top">
    <div class="col-6">
        <h2 class="regular-36">The Process</h2>
        <h2 class="semibold-36">About Our Work</h2>
        <p class="regular-15 m-20 top">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque ndo. Verear habemus sea ut. His nibh scripta in. In sea vocibus facilisis. Sed</p>
        <button class="btn-call-to-action m-30 top">Know More</button>
    </div>
    <div class="col-6">
        <img src="../../../assets/img/our-works-img.png" alt="our-works-image">
    </div>
</section>

<section class="container d-flex align-items-center m-120 top">
    <div class="col-6">
        <img src="../../../assets/img/help-picture-img.png" alt="help-image">
    </div>
    <div class="col-6">
        <h2 class="regular-36">We are here</h2>
        <h2 class="semibold-36">always to help you</h2>
        <p class="regular-15 m-20 top">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque ndo. Verear habemus sea ut. His nibh scripta in. In sea vocibus facilisis. Sed</p>
    </div>
</section>

<section class="section-contact m-120 top">
    <div class="text-center">
        <h2 class="regular-36">Facing a Problem?</h2>
        <h2 class="semibold-36">Lets Get In Touch Now</h2>
    </div>
    <div>
        <form class="contact-form margin-auto">
            <div class="col-12 p-0 d-flex">
                <div class="input-field col-6">
                    <input id="first_name" type="text" class="validate" placeholder="First Name">
                    <label class="m-15 left" for="first_name">First Name</label>
                </div>
                <div class="input-field col-6">
                    <input id="last_name" type="text" class="validate" placeholder="Last Name">
                    <label class="m-15 left" for="last_name">Last Name</label>
                </div>
            </div>
            
            <div class="col-12">
                <div class="input-field">
                    <input id="email" type="email" class="validate" placeholder="First Name">
                    <label for="email">Email</label>
                </div>
            </div>
        </form>
    </div>
</section>
