<header class="m-120 top"> 
    <div class="container c-header">
        <div class="header-title">
            <h1 class="semibold-46">We Create a Simple Solution </h1>
            <h1 class="regular-46">For Your Complex Task</h1>
            <p class="regular-14 m-10 top">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, sed diceret concludaturque no. Verear habemus sea ut</p>
        </div>
        <div>
            <button class="btn-call-to-action m-30 right m-mobile-reset">Our Works</button>
            <button class="button-outline m-mobile-10 top">Know More</button>
        </div>
        <div>
            <img src="../../../assets/img/bg-header.png" alt="header-image">
        </div>
    </div>
</header>
<section class="container d-flex flex-wrap align-items-center m-120 top">
    <div class="col-12 col-md-6 p-mobile-reset">
        <h2 class="regular-36">The Process</h2>
        <h2 class="semibold-36">About Our Work</h2>
        <p class="regular-15 m-20 top">
            Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, 
            sed diceret concludaturque ndo. Verear habemus sea ut. His nibh scripta in. In sea vocibus facilisis. Sed
        </p>
        <button class="btn-call-to-action m-30 top">Know More</button>
    </div>
    <div class="col-12 col-md-6 p-mobile-reset">
        <img src="../../../assets/img/our-works-img.png" alt="our-works-image">
    </div>
</section>
<section class="container d-flex flex-wrap align-items-center m-120 top">
    <div class="col-12 col-md-6 p-mobile-reset order-last order-md-first">
        <img src="../../../assets/img/help-picture-img.png" alt="help-image">
    </div>
    <div class="col-12 col-md-6 p-mobile-reset order-first order-md-last">
        <h2 class="regular-36">We are here</h2>
        <h2 class="semibold-36">always to help you</h2>
        <p class="regular-15 m-20 top">
            Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris, 
            sed diceret concludaturque ndo. Verear habemus sea ut. His nibh scripta in. In sea vocibus facilisis. Sed
        </p>
    </div>
</section>
<section class="section-contact m-120 top">
    <div class="text-center">
        <h2 class="regular-36">Facing a Problem?</h2>
        <h2 class="semibold-36">Lets Get In Touch Now</h2>
    </div>
    <div class="c-form">
        <form class="form contact-form margin-auto">
            <div class="d-flex flex-wrap w-100">
                <div class="input-field col-12 col-md-6">
                    <label for="first_name">First Name</label>
                    <input id="first_name" type="text" class="validate" placeholder="First Name">
                </div>
                <div class="input-field col-12 col-md-6">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" type="text" class="validate" placeholder="Last Name">
                </div>
            </div>
            <div class="col-12">
                <div class="input-field">
                    <label for="email">Your Email Adress</label>
                    <input id="email" type="email" class="validate" placeholder="user@mail.com">
                </div>
            </div>
            <div class="col-12 input-field">
                <label for="problem-option">Which Related Problem You Are Facing?</label>
                <div class="dropdown w-100">
                    <a class="dropdown-toggle" role="button" id="problem-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select One
                    </a>
                    <div class="dropdown-menu" aria-labelledby="problem-option">
                        <a class="dropdown-item">What is the return policy?</a>
                        <a class="dropdown-item">What are the shipping options?</a>
                        <a class="dropdown-item">What are the international taxes, duties, etc. that I have to pay?</a>
                    </div>
                </div>
            </div>
            <div class="col-12 input-field">
                <label for="message">Type Your Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Please write your message here."></textarea>
            </div>
            <div class="col-12">
                <button class="btn-call-to-action">Our Works</button>
            </div>
        </form>
        <div>
            <img class="get-in-touch-left d-none d-xl-block" src="../../../assets/img/get-in-touch-1.png" alt="form-contact-image">
        </div>
        <div class="get-in-touch-right d-none d-xl-block">
            <img class="get-in-touch-2" src="../../../assets/img/get-in-touch-2.png" alt="form-contact-image">
            <img class="get-in-touch-3" src="../../../assets/img/get-in-touch-3.png" alt="form-contact-image">
        </div>
    </div>
</section>
