/************************** COLORS **************************/
$blue-bight: #0000FF;
$blue-violet: #6362D7;
$purple: #856DD7;
$pink: #FF8FE2;
$black: #222222;
$grey-dark:#555555;
$grey-medium: #777777;
$purple-light: #D1C4F8;
$white: #FFFFFF;

/************************** FONT-FAMILY **************************/
$font-regular: 'Poppins-Regular';
$font-semibold: 'Poppins-SemiBold';
$font-medium: 'Poppins-Medium';

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/************************** FONT-SIZE **************************/
.semibold-46{
    font-family: 'Poppins-SemiBold';
    font-size: 46px;
    line-height: 58px;
    font-weight: 600;
    color: $black;
}

.semibold-36{
    font-family: 'Poppins-SemiBold';
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    color: $black;
}

.medium-15{
    font-family: 'Poppins-Medium';
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: $white;
}

.regular-46{
    font-family: 'Poppins-Regular';
    font-size: 46px;
    line-height: 58px;
    font-weight: 400;
    color: $black;
}

.regular-36{
    font-family: 'Poppins-Regular';
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    color: $black;
}

.regular-15{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: $grey-dark;
}

.regular-14{
    font-family: 'Poppins-Regular';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: $grey-dark;
}

.regular-13{
    font-family: 'Poppins-Regular';
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: $grey-medium;
}


/************************** FONT-SIZE **************************/
a{
    transition: 0.5s;

    &:hover{
        color: $purple;
    }

    &:active{
        color: $purple;
    }

}

input{
    border: solid 1px $purple-light;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 15px;
    width: 250px;
    margin-right: 35px;
    padding-top: 3px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $purple-light;
        opacity: 1; /* Firefox */
        font-family: 'Poppins-Regular';
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $purple-light;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $purple-light;
    }

    &:focus{
        border: solid 1px $purple;
        outline: none;
        transition: 0.5s;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $purple;
            opacity: 1; /* Firefox */
            font-family: 'Poppins-Regular';
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $purple;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: $purple;
        }

    }
}

.btn-call-to-action{
    border: none;
    font-family: 'Poppins-Regular';
    color: $white;
    border-radius: 4px;
    font-size: 14px;
    /* width: 150px; */
    padding: 0 30px;
    background-image: linear-gradient(70deg, $blue-violet 5%, $pink 60%, $pink 100%);
    transition: 0.5s;
    background-size: 200% auto;

    &:hover{
        background-position: right center;
    }
}








