/************************** COLORS **************************/
$blue-bight: #0000ff;
$blue-violet: #6362d7;
$purple: #856dd7;
$purple-bright: #9D60EB;
$pink: #ff8fe2;
$black: #222222;
$grey-dark: #555555;
$grey-medium: #777777;
$purple-light: #d1c4f8;
$white: #ffffff;

/************************** FONT-FAMILY **************************/
$font-regular: "Poppins-Regular";
$font-semibold: "Poppins-SemiBold";
$font-medium: "Poppins-Medium";

@font-face {
	font-family: "Poppins-SemiBold";
	src: url("/assets/fonts/Poppins-SemiBold.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Medium";
	src: url("/assets/fonts/Poppins-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("/assets/fonts/Poppins-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

/************************** FONT-SIZE **************************/
.semibold-46 {
	font-family: "Poppins-SemiBold";
	font-size: 46px;
	line-height: 58px;
	font-weight: 600;
	color: $black;
}

.semibold-36 {
	font-family: "Poppins-SemiBold";
	font-size: 36px;
	line-height: 46px;
	font-weight: 600;
	color: $black;
}

.medium-15 {
	font-family: "Poppins-Medium";
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;
}

.regular-46 {
	font-family: "Poppins-Regular";
	font-size: 46px;
	line-height: 58px;
	font-weight: 400;
	color: $black;
}

.regular-36 {
	font-family: "Poppins-Regular";
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;
	color: $black;
}

.regular-15 {
	font-family: "Poppins-Regular";
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	color: $grey-dark;
}

.regular-14 {
	font-family: "Poppins-Regular";
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color: $grey-dark;
}

.regular-13 {
	font-family: "Poppins-Regular";
	font-size: 13px;
	line-height: 23px;
	font-weight: 400;
	color: $grey-medium;
}


.text-center{
	text-align: center;
}



/************************** LINKS **************************/
a{
	transition: 0.5s;

	&:hover {
		color: $purple;
	}

	&:active {
		color: $purple;
	}
}

/************************** INPUTS **************************/
input {
	border: solid 1px $purple-light;
	height: 40px;
	border-radius: 4px;
	font-size: 15px;
	padding-left: 15px;
	width: 250px;
	margin-right: 35px;
	padding-top: 3px;
	transition: 0.4s;

	&::placeholder {
		color: $purple-light;
		opacity: 1;
		font-family: "Poppins-Regular";
		transition: 0.4s;
	}

	&:focus {
		border: solid 1px $purple;
		outline: none;
		
		&::placeholder {
			color: $purple;
			opacity: 1;
			font-family: "Poppins-Regular";
		}
	}
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), 
textarea.materialize-textarea{
	font-family: 'Poppins-Regular' !important;
	font-size: 13px;
	color: $blue-violet;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
	border: none;
	border-bottom: solid 1px $purple-light;
	box-shadow: 0 1px 0 0 $blue-violet;
	font-family: 'Poppins-Regular';
	font-size: 13px;
	color: $purple-light;

	&:focus{
		border-bottom: none;
		box-shadow: 0 1px 0 0 $blue-violet;
	}
}

// input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, 
// input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, 
// input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, 
// input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, 
// input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, 
// input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, 
// textarea.materialize-textarea.validate+label{
// 	color: $blue-violet;
// }

/************************** BUTTON **************************/
button{
	font-family: 'Poppins-Regular';
	font-size: 15px;
	width: 140px;
	height: 40px;
	border-radius: 4px;
}

.btn-call-to-action {
	border: none;
	color: $white;
	background-image: linear-gradient(
		70deg,
		$blue-violet 5%,
		$pink 50%,
		$pink 50%
	);
	transition: 0.5s;
	background-size: 250% auto;

	&:hover {
		background-position: right center;
	}
}

.button-outline{
	border: solid 1px $blue-violet;
	color: $blue-violet;
	background: $white;
	transition: 0.5s;
	
	&:hover{
		background: $blue-violet;
		color: $white;
	}
}





/************************** MARGIN / PADDING **************************/
.margin-auto{
	margin-left: auto;
	margin-right: auto;
}

.m-120 {
    &.top {
        margin-top: 120px;
    }

    &.bottom {
        margin-bottom: 120px;
    }

    &.left {
        margin-left: 120px;
    }

    &.right {
        margin-right: 120px;
    }
}

.m-30 {
    &.top {
        margin-top: 30px;
    }

    &.bottom {
        margin-bottom: 30px;
    }

    &.left {
        margin-left: 30px;
    }

    &.right {
        margin-right: 30px;
    }
}

.m-20 {
    &.top {
        margin-top: 20px;
    }

    &.bottom {
        margin-bottom: 20px;
    }

    &.left {
        margin-left: 20px;
    }

    &.right {
        margin-right: 20px;
    }
}

.m-15 {
    &.top {
        margin-top: 15px;
    }

    &.bottom {
        margin-bottom: 15px;
    }

    &.left {
        margin-left: 15px;
    }

    &.right {
        margin-right: 15px;
    }
}


.m-10 {
    &.top {
        margin-top: 10px;
    }

    &.bottom {
        margin-bottom: 10px;
    }

    &.left {
        margin-left: 10px;
    }

    &.right {
        margin-right: 10px;
    }
}
